<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Moonshine: LateRooms LeanKit Stats Pack">
<meta name="author" content="Joseph Ryan">
<!--<link rel="icon" href="favicon.ico">-->

<!-- Bootstrap core CSS -->
<link href="/javascripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>Moonshine</title>
<meta name="keywords" content="Moonshine LateRooms LeanKit Stats">